{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
{% assign pageTags = "" | split: "" %}{% if page.tags.first %}{% assign pageTags = page.tags %}{% endif %}
{% assign pageCategories = "" | split: "" %}{% if page.categories.first %}{% assign pageCategories = page.categories %}{% endif %}
{% assign matches = '' | split: '' %}

{% for post in site.documents %}
	{% assign sameTagCount = 0 %}
	{% assign commonTags = '' %}
	{% assign postTags = "" | split: "" %}{% if post.tags %}{% assign postTags = post.tags %}{% endif %}
	{% assign postCategories = "" | split: "" %}{% if post.categories %}{% assign postCategories = post.categories %}{% endif %}
	{% assign postTagList = postTags | concat: postCategories %}

	{% for tag in postTagList %}
		{% if post.url != page.url %}
			{% if pageTagList contains tag %}
				{% assign sameTagCount = sameTagCount | plus: 1 %}
			{% endif %}
			{% if pageTagList contains post.path %}
				{% assign sameTagCount = sameTagCount | plus: 1 %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if sameTagCount > 1 %}
		{% assign matches = matches | push: post %}
	{% endif %}
{% endfor %}

{% if matches.size > 0 %}
<section class="related">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h4>Featured In</h4>
			</div>
		</div>
		<ul class="row">
			{% assign postSample = matches | sample: matches.size %}
			{% for post in postSample limit: maxRelated %}
			<li class="col-lg-4 col-md-12">
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
				<p>
					{% if post.description %}
						{{ post.description }}
					{% else %}
						{{ post.content | markdownify | strip_html | truncatewords: 20 }}
					{% endif %}
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endif %}
